html{
    scroll-behavior: smooth;
}

body{
    line-height: 175%;
    font-family: roboto, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.nav-list li.active a {
    font-weight: bold;
    border: 2px solid #333;
    padding: 5px 10px;
    position: relative;
}

.nav-list li.active a::before {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

nav {
    background-image: linear-gradient(to right, #007BFF, #ffffff);
    padding: 10px 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #007BFF;
    font-size: 250%;
}

header{
    text-align: center;
}

h1{
    font-size: 300%;
    text-align: center;
    margin: 20px 0;
}
.skip-main{
    visibility: hidden;
}

a:visited{
    color: #be22b1;
}
nav a.current{
    color: #4400ff;
}

img{
    display: block;
    margin: 5px auto;
    width: 80%;
    height: auto;
}
h2{
    font-size: 200%;
    text-align: center;
    margin: 20px 0;
}
h3{
    font-size: 150%;
    text-align: center;
    margin: 20px 0;
}
.pet1{
    display: block;
    width: 100%;
    height: auto;
    margin: 10px;
    background-color: antiquewhite;
}
.pet2{
    display: block;
    width: 100%;
    height: auto;
    margin: 10px;
    background-color: rgb(231, 250, 215);
}
p{
    width:85%;
    font-size: 12px;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
    border: 2.5px dotted #4400ff;
    border-radius: 5px;
}

ul{
    width: 85%;
    margin: 5px auto;
    padding: 5px;
    border: 2.5px dotted #4400ff;
    border-radius: 5px;
}

ul li{
    font-size: 100%;
    text-align: center;
    list-style-type: disc;
    list-style-position: inside;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.griditem{
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
